fastapi[standard]
uvicorn[standard]
python-dotenv
groq
openai
google-generativeai
requests
httpx
beautifulsoup4
psycopg2-binary
python-multipart
pydantic
APScheduler
duckduckgo-search
ddgs
google-api-python-client
google-auth
google-auth-httplib2
pymongo
motor
python-jose
passlib
bcrypt
pyparsing
dnspython
email-validator
sqlalchemy
edge-tts
SpeechRecognition
dnspython
playwright
ddgs
langfuse
rich
google-auth
pyjwt