fastapi==0.104.1
uvicorn==0.24.0
python-dotenv==1.2.2
groq
openai
google-generativeai
requests
httpx
beautifulsoup4
psycopg
psycopg-binary
python-multipart
pydantic==1.10.12
APScheduler
duckduckgo-search
google-api-python-client
google-auth
google-auth-httplib2
pymongo
motor
python-jose
passlib
bcrypt
pyparsing
dnspython
email-validator